<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
  <li><%= link_to "Post#{post.id}", post_path(post), data: {turbo_frame: 'post'}%></li>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>

<%= turbo_frame_tag 'post' %>
